<!doctype html>
<head><title>Quick OPAC</title>
  <link rel="stylesheet" href="../../style.css"/>
</head>
<body>
  <h2><a href="/search/title/hamlet">Title Search: Hamlet</a></h1>
  <h2><a href="/search/author/shakespeare">Author Search: Shakespeare</a></h1>
</body>
</html>

