body { background-color: #eee; font-family: "Arial"; }
.catalogue_record { line-height: 75%; }
.brief_record { padding-top: 5px; padding-bottom: 5px;}
#facets { float: left; 
          width: 25%;
}
#results { float: left;
           width: 75%;
}

